#top {
  
}

.wrapper {
  position: relative;
  left: 30%;
  top: 10%;
  height: 70%;
}

.cell-clone {
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2px solid #A49480;
  background: blue;
  background: -webkit-radial-gradient(#73a4ee75, #0742996c);
  background: radial-gradient(#73a4ee75, #0742996c), radial-gradient(transparent, rgba(0, 0, 0, 0.4));
}

.cell {
  position: absolute;
  margin: 0 auto;
  background: transparent;
  width: 400px;
  height: 400px;
}

.cell::after {
  content: "";
  position: absolute;
  border-radius: 50%;
  border: 5px solid #A49480;
  animation: fadeIn 7s forwards;
  animation-delay: 5s;
  background: blue;
  background: -webkit-radial-gradient(#73a4ee75, #0742996c);
  background: radial-gradient(#73a4ee75, #0742996c), radial-gradient(transparent, rgba(0, 0, 0, 0.4));
  height: 400px;
  width: 400px;
  opacity: 0;
  z-index: -1;
}

@keyframes fadeIn {
  50% {
    transform: scale(1);
  }

  80% {
    transform: scale(.1);
  }
  98% {
    transform: scale(.1);
    opacity: 1;
  }

  100% {
    transform: scale(.1);
    opacity: 0;
  }
}
.organelle-container {
  position: absolute;
  width: 400px;
  height: 400px;
  animation: scale 7s forwards;
  animation-delay: 5s;
}

@keyframes scale {
  50% {
    transform: scale(1);
  }

  80% {
    transform: scale(.1);
    opacity: 1;
  }

  100% {
    transform: scale(.1);
    opacity: 0;
  }
}

.nucleus {
  position: absolute;
  margin: 0 auto;
  border-radius: 50%;
  border: 3px solid rgba(219, 199, 199);
  background: rgb(187, 100, 114);
  width: 30%;
  height: 30%;
  left: 29%;
  top: 20%;
}

.nucleulus {
  position: absolute;
  margin: 0 auto;
  border-radius: 50%;
  border: 1px solid rgba(255, 0, 0, .2);
  background: rgb(116, 61, 61);
  width: 25%;
  height: 25%;
  left: 61%;
  top: 26%;
}

.mitochondria {
  position: absolute;
  margin: 0 auto;
  border-radius: 100px;
  border: double white;
  background-color: orange;
  width: 35px;
  height: 70px;
}

.mitochondria svg {
  position: absolute;
  margin: 0 auto;
  transform: rotate(90deg);
  left: -5px;
}

#mito1 {
  top: 200px;
  left: 90px;
  animation: float1 25s linear infinite;
  animation-direction: alternate;
}

@keyframes float1 {
  from { transform: rotate(60deg) translateX(60px) rotate(60deg); }
  to   { transform: rotate(300deg) translateX(60px) rotate(360deg); }
}

#mito2 {
  top: 170px;
  left: 200px;
  animation: float2 20s linear infinite;
  animation-direction: alternate;
}

@keyframes float2 {
  from { transform: rotate(60deg) translateX(60px) rotate(40deg); }
  to   { transform: rotate(360deg) translateX(100px) rotate(-360deg); }
}

#mito3 {
  top: 198px;
  left: 230px;
  animation: float3 28s linear infinite;
  animation-direction: alternate-reverse;
}

@keyframes float3 {
  from { transform: rotate(30deg) translateX(100px) rotate(20deg); }
  to   { transform: rotate(50deg) translateX(100px) rotate(300deg); }
}

.mitochondria, .lysosome-box, .cytoskeleton-green svg, .cytoskeleton-blue svg, .cytoskeleton-blue2 svg, .nucleus, .golgi {
  z-index: 2;
}

.lysosome-box {
  position: absolute;
  margin: 0 auto;
  background: none;
  width: 80px;
  height: 80px;
  top: 108px;
  left: 123px;
  animation: float3 15s linear infinite;
  animation-direction: alternate-reverse;
}

#box1 {
  top: 100px;
  left: 150px;
  animation: float2 18s linear infinite;
  animation-direction: alternate-reverse;
}

#box2 {
  top: 250px;
  left: 150px;
  animation: float1 17s linear infinite;
  animation-direction: alternate;
}

.cytoskeleton-green svg {
  position: absolute;
  margin: 0 auto;
  animation: float1 27s linear infinite;
  animation-direction: normal;
  top: -120px;
  left: 55px;
}


.cytogreen1 {
  transform: rotate(15deg);
}

.cytogreen3 {
  transform: rotate(30deg);
}

.cytoskeleton-blue svg {
  animation: float3 35s linear infinite;
  animation-direction: normal;   
  position: absolute;
  margin: 0 auto;
  top: 1px;
  left: -170px;
}

.cytoskeleton-blue2 svg {
  animation: float2 35s linear infinite;
  animation-direction: normal;   
  position: absolute;
  margin: 0 auto;
  top: 150;
  left: -70px;
  transform: scale(.6);
}

.lysosome {
  position: absolute;
  margin: 0 auto;
  border-radius: 50%;
  border: 3px solid rgba(255, 0, 0, .2);
  background: pink;
  width: 50%;
  height: 50%;
  left: 25%;
  top: 25%;
}

.lysosome::before {
  content: "";
  position: absolute;
  border-radius: 50%;
  top: 12px;
  width: 2px;
  height: 2px;
  background: red;
  box-shadow: 
  -7px 5px 0 0 red, 0px 8px 0 0 red, 
  15px -1px 0 0 red, 
  -9px 12px 0 0 red, 
  5px -1px 0 0 red, 
  2px 15px 0 0 red, 
  11px 8px 0 0 red, 
  2px -8px 0 0 red;
  left: 13px;
  animation-name: floating alternate;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

@keyframes floating {
  100% {
    box-shadow: 12px 5px 0 0 red, 9px 14px 0 0 red, 17px 9px 0 0 red, 13px 11px 0 0 red, 15px 9px 0 0 red, 7px 11px 0 0 red;
  }
  20% {
    box-shadow: 8px 10px 0 0 red, 7px 5px 0 0 red, 10px 2px 0 0 red, -10px 8px 0 0 red, 8px 6px 0 0 red, 4px 5px 0 0 red;
  }
  0% {
    box-shadow: 8px 10px 0 0 red, 8px 5px 0 0 red, 7px 9px 0 0 red, 2px 3px 0 0 red, 6px 5px 0 0 red, 12px 7px 0 0 red;
    ;
  }
}

.golgi {
  position: absolute;
  margin: 0 auto;
  border-radius: 50%;
  background: rgb(100, 100, 100);
  width: 1%;
  height: 1%;
  left: 0;
  top: 0;
  box-shadow: 4px 15px 0 0 rgb(100, 100, 100), 
  90px 200px 0 0 rgb(100, 100, 100), 
  70px 85px 0 0 rgb(100, 100, 100), 
  60px 140px 0 0 rgb(100, 100, 100), 
  95px 170px 0 0 rgb(100, 100, 100), 
  170px 180px 0 0 rgb(100, 100, 100), 
  120px 150px 0 0 rgb(100, 100, 100), 
  105px 200px 0 0 rgb(100, 100, 100), 
  115px 85px 0 0 rgb(100, 100, 100), 
  200px 140px 0 0 rgb(100, 100, 100), 
  185px 180px 0 0 rgb(100, 100, 100), 
  140px 150px 0 0 rgb(100, 100, 100), 
  195px 10px 0 0 rgb(100, 100, 100);
  animation: golgiFloat 25s linear infinite;
  animation-direction: alternate;
}

@keyframes golgiFloat {
    from { transform: rotate(15deg) translateX(250px) rotate(40deg); }
    to   { transform: rotate(40deg) translateX(320px) rotate(60deg); }
  }

.tissue-container {
  position: absolute;
  top: 100px;
  left: 50px;
  width: 500px;
  height: 300px;
}

.tissue-container {
  background: transparent;
  animation: tissue-color 7s forwards;
  animation-delay: 15s;
}


@keyframes tissue-color {
  70% {
    transform: scale(1);
  }
  
  90% {
    background-color:lightblue; 
    left: 50px;

  }
    
  100% {  
    opacity: 1;
    left: 20px;  
    transform: scale(0.03,0.03);
    transform-origin: 50% 50%;
  }
}

.organ-system-container {
  position: relative;
  top: 54px;
  left: 200px;
}

.organ-system {
  position: absolute;
  top: -198px;
  left: -318px;
}

.organ {
  position: absolute;
  top: -198px;
  left: -317px;
}



