body {
  display: block;
}

.cell {
  position: relative;
  margin: 0 auto;
  border-radius: 50%;
  border: 3px solid brown;
  background: transparent;
  width: 300px;
  height: 300px;
}

.shape1 {
  position: absolute;
  margin: 0 auto;
  transform: rotate(45deg);
  border-radius: 100px 100px 100px 100px;
  border: double white;
  background-color: orange;
  width: 50px;
  height: 100px;
  top: 10px;
  left: 70px;
}

.shape1 svg {
  position: absolute;
  margin: 0 auto;
  transform: rotate(90deg);
  top: 15px;
  left: -15px;
}

.shape2 {
  position: absolute;
  margin: 0 auto;
  background: none;
  width: 150px;
  height: 150px;
  top: 30px;
  left: 80px;
}

.shape3 svg {
  position: absolute;
  margin: 0 auto;
  background: none;
  right: 10px;
  top: 200px;
}

.shape4 svg {
  position: absolute;
  margin: 0 auto;
  transform: rotate(80deg);
  left: 130px;
  top: 70px;
}
svg circle {
  border: 1px solid red;
}

.smallCircle {
  position: absolute;
  margin: 0 auto;
  border-radius: 50%;
  border: 3px solid rgba(255, 0, 0, .2);
  background: pink;
  width: 50%;
  height: 50%;
  left: 25%;
  top: 25%;
}

.smallCircle::before {
  content: "";
  position: absolute;
  border-radius: 50%;
  top: 12px;
  width: 8px;
  height: 8px;
  background: red;
  box-shadow: 22px 10px 0 0 red, 
  -10px 18px 0 0 red, 
  20px 25px 0 0 red,
  15px -13px 0 0 red, 
  20px 25px 0 0 red, 
  18px -13px 0 0 red, 
  10px 5px 0 0 red;
  left: 13px;
  animation-name: floating;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out infinite;
}

.smallCircle::after {
  content: "";
  position: absolute;
  border-radius: 50%;
  border: 1px solid red;
  top: 29px;
  width: 8px;
  height: 8px;
  background: red;
  left: 20px;
  -webkit-animation: floating cubic-bezier(0.1, 0.1, 0.2, 0.1) infinite;
  animation: floating 20s cubic-bezier(0.1, 0.1, 0.2, 0.1) infinite;
}

@keyframes floating {
  100% {
    box-shadow: 55px 10px 0 0 red, 
    35px 5px 0 0 red, 
    15px 22px 0 0 red,
    -10px 18px 0 0 red, 
    35px 34px 0 0 red, 
  }
  20% {
    box-shadow: 8px 10px 0 0 red, 27px 5px 0 0 red, 27px 22px 0 0 red,
      -10px 18px 0 0 red, 8px 10px 0 0 red, 27px 5px 0 0 red;
  }
  0% {
    box-shadow: 8px 10px 0 0 red, 27px 5px 0 0 red, 27px 22px 0 0 red,
      50px 18px 0 0 red, 8px 10px 0 0 red, 27px 5px 0 0 red;
     ;
  }
}
